* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e3d;
    margin: 0;
    padding: 20px;
    color: #fff;
}

h1 {
    text-align: center;
    background-image: url("img/pintura.webp");
}



select {
    display: block;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

input {
    max-width: 190px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
    font-weight: bold;
    font-size: 16px;
}

/* From Uiverse.io by elijahgummer */
.button-with-icon {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0f988e;
    font-family: "Istok Web", sans-serif;
    letter-spacing: 1px;
    padding: 0 12px;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 3px;
    outline: none;
    user-select: none;
    cursor: pointer;
    transform: translateY(0px);
    position: relative;
    box-shadow:
        inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.3),
        inset 0 1px 20px rgba(0, 0, 0, 0),
        0 3px 0 #0f988e,
        0 3px 2px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.1);
    background: #15ccbe;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    transition: 150ms all ease-in-out;
}

.button-with-icon .icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    transition: all 0.5s ease-in-out;
}

.button-with-icon:active {
    transform: translateY(3px);
    box-shadow:
        inset 0 16px 2px -15px rgba(0, 0, 0, 0),
        inset 0 0 0 1px rgba(255, 255, 255, 0.15),
        inset 0 1px 20px rgba(0, 0, 0, 0.1),
        0 0 0 #0f988e,
        0 0 0 2px rgba(255, 255, 255, 0.5),
        0 0 0 rgba(0, 0, 0, 0),
        0 0 0 rgba(0, 0, 0, 0);
}

.button-with-icon:hover .text {
    transform: translateX(80px);
}

.button-with-icon:hover .icon {
    transform: translate(23px);
}

.text {
    transition: all 0.5s ease-in-out;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.section__item {
    margin-right: 20px;
}
.container {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid black;
    overflow-y: scroll;
    background: #eef;
    position: relative;
  }
  canvas {
    display: block;
    margin: auto;
    background: #eef;
  }

  .escala {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
  }